footer{
    display:flex;
    justify-content: center;
    align-items: center;
}
.brand-image{
    width: 300px;
}
.fa-user{
    font-size: 48px;
}

.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
}